each message in messages
    div.messages__message
        span.message__author=message.username
        span.message__time=message.time
        br
        div.message__content=message.messageContent

