.userForm{
    padding: 5px;
}
.userForm__buttonsubmit{
    border: 1px solid darkslateblue;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    color: darkslateblue;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    outline: none;
}
.userForm__username{
    width: 120px;
    height: 40px;
    border: 1px solid darkslateblue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    outline: none;
}
.welcome__content{
    font-size: 2rem;
    font-weight: bold;
    color: darkslateblue;
}
.welcome{
    text-align: center;
}